<div class="accounts-container">
  <button class="account__create" (click)="createAccount()">Crear Cuenta</button>
  <app-table [tableHeaders]="tableHeaders" 
  [tableData]="tableData" 
  [opciones]="opciones"
  (edit)="updateAccount($event)"
  (delete)="deleteAccount($event)" 
  (search)="searchAccount($event)">
</app-table>
  @if(showModal){
  <div class="accounts__modal-overlay">
    <app-account-modal (close)="closeModal()" [account]="selectedAccount"></app-account-modal>
  </div>
  }
  @if(showAlert){
    <div class="users__alert">
      <app-alert [message]="alertMessage" [type]="alertType" (close)="closeAlert()"></app-alert>
    </div>
} 
</div>