@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.content {
  width: 100%;
  position: relative;
  text-align: right;
  font-family: 'Roboto', sans-serif;

  &__navbar {
    background-color: transparent;
    border-bottom: none;
    justify-content: center;
    margin: 0 auto;

    &-nav {
      float: right;
      background-color: #f5f5f5;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-item {
      display: inline-flex;
      margin-right: 20px;
      align-items: center;
      justify-content: center;
    }

    &-item a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      display: flex;
      align-items: center;
      transition: color 0.3s ease;

      &:hover {
        color: #1a73e8;
      }
    }

    &-link {
      color: #333;
      padding: 10px 15px;
      display: flex;  /* Cambiamos a flex para alinear el texto y la imagen horizontalmente */
      align-items: center; /* Alineamos verticalmente el texto y la imagen */
      border-radius: 4px;
    }

    &-text {
      margin-right: 5px; /* Espacio entre el texto y la imagen */
        cursor: pointer;
    }

    &-image-container {
      position: relative;
      /* display: flex;  Alinea la imagen y el texto logout */
      /* align-items: center;  Centra verticalmente los elementos */
    }

    &-icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer; /* Cambia el cursor al pasar por encima */
    }

    &-logout {
      position: absolute;
      top: 100%; /* Coloca el texto debajo de la imagen */
      right: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 14px;
      color: #333;
      z-index: 1; /* Asegura que esté por encima de otros elementos */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      white-space: nowrap; /* Evita que el texto se corte */
        cursor: pointer; /* Indica que se puede hacer clic */
    }
  }

  &__container {
  }

  &__title {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  &__paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__code {
    background: #eee;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 1rem;
  }
}