<div class="viewport">
  <!-- Sidebar -->
  <div class="sidebar">
    <header class="sidebar__header">
      <a href="#" class="sidebar__header-link">Bank Account</a>
    </header>
    <ul class="nav sidebar__nav">
      <li class="sidebar__nav-item">
        <a routerLink="/app/dashboard" class="sidebar__nav-link">
          <i class="zmdi zmdi-view-dashboard sidebar__nav-icon"></i>
          Dashboard
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a routerLink="/app/accounts" class="sidebar__nav-link">
           <i class="zmdi zmdi-accounts-alt sidebar__nav-icon"></i>
          Cuentas
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a routerLink="/app/transactions" class="sidebar__nav-link">
          <i class="zmdi zmdi-swap-vertical sidebar__nav-icon"></i>
          Transacciones
        </a>
      </li>
      <li class="sidebar__nav-item">
        <a routerLink="/app/users" class="sidebar__nav-link">
          <i class="zmdi zmdi-account sidebar__nav-icon"></i>
          Usuarios
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
</div>